
.buttonBlue {
  background-color: rgba(72, 99, 160,1);
  text-align: center;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: 1px solid white;
}

.buttonBlue:hover {
  background-color: rgba(72, 99, 160,0.5);
  text-align: center;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: 1px solid white;
}

@media (min-width: 815px){
  .buttonCsv {
    margin-top:10px;
  }

  .buttonCsv:hover {
    margin-top:10px;
  }
}
