.slogan {
  padding: 15px 0px;
}

.title {
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 20px;
}

.section {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 10px;
  text-align:center;
}

.deduction {
  width: 90%;
  border: 2px solid rgba(0,128,0,1);
  border-radius: 5px;
  padding: 3px;
  background-color: rgba(0,128,0,0.8);
  font-weight: bold;
  text-align:center;
  font-size:80%;
  color: white;
}

.plafond {
  width: 90%;
  margin-top:5px;
  border: 2px solid rgba(255, 16, 21,1);
  border-radius: 5px;
  padding: 3px;
  background-color: rgba(255, 16, 21,0.6);
  font-weight: bold;
  text-align:center;
  font-size:80%;
  color: white;
}


.red {
  color:red;
  font-weight:bold;
}

.green {
  color:green;
  font-weight:bold;
}

.black {
  color:black;
  font-weight:bold;
}


.casflow {
  padding-left:5px;
}

.impot {
  padding-left:5px;
}

.faker {
  text-align: center;
  font-size: 12px;
  color: grey;
  padding-bottom: 5px;
}
